<form [formGroup]="registerFg" (ngSubmit)="registerUser()">
    <div class="container">
        <h2 class="title">Create Account</h2>
        <app-input-cva [formControl]="NameCtrl" [label]="'Full Name'" [placeHolder]="'Enter your name'"
            [hint]="'Enter your full name'" [isFocused]="true">
        </app-input-cva>
        <app-input-cva [formControl]="EmailCtrl" [label]="'Email'" [placeHolder]="'Enter your email'"
            [hint]="'Your email will be used as your username.'">
        </app-input-cva>
        <app-input-cva [formControl]="PasswordCtrl" [label]="'Password'" [type]="'password'"
            [placeHolder]="'Enter a password'" [hint]="'Between 7 to 20 characters'">
        </app-input-cva>
        <app-input-cva [formControl]="ConfirmPasswordCtrl" [label]="'Confirm Password'" [type]="'password'"
            [placeHolder]="'Confirm your password'" [hint]="'Between 7 to 20 characters'">
        </app-input-cva>

        <button type="submit" mat-raised-button color="primary" class="submitBtn">Register</button>
        <!-- <button type="button" mat-raised-button (click)="checkStatus()">check</button> -->
        <!-- <p>{{registerFg.value | json}}</p> -->
    </div>
</form>
