<form [formGroup]="registerFg" (ngSubmit)="registerFg.valid && registerUser()">
    <div class="container">
        <div class="inputs">
            <div class="gender">
                <strong>I am a</strong>
                <mat-radio-group formControlName="genderCtrl" aria-label="Select your gender" color="primary">
                    <mat-radio-button value="female">Female</mat-radio-button>
                    <mat-radio-button value="male">Male</mat-radio-button>
                    <mat-radio-button value="other">Other</mat-radio-button>
                </mat-radio-group>
            </div>
            <app-input-cva [formControl]="EmailCtrl" [label]="'Email'" [placeHolder]="'Your email'"
                [hint]="'Privately used for account management. (e.g. Reset password, Login)'"
                [error]="'Enter a valid email address.'" [isFocused]="!isMobileSig()">
            </app-input-cva>
            <app-input-cva [formControl]="UsernameCtrl" [label]="'Username'" [placeHolder]="'Your Username'"
                [hint]="'Will be shown to other members.'">
            </app-input-cva>
            <app-date-picker-cva [formControl]="DateOfBirthCtrl" [label]="'Date of Birth'" [minDate]="minDate"
                [maxDate]="maxDate" [placeHolder]="'MM/DD/YYYY'">
            </app-date-picker-cva>
            <app-input-cva [formControl]="PasswordCtrl" [label]="'Password'" [type]="'password'"
                [placeHolder]="'Enter a password'"
                [hint]="'Needs: 8 to 50 characters. An uppercase character(ABC). A number(123)'"
                [error]="'Needs: 8 to 50 characters. An uppercase character(ABC). A number(123)'" [ngStyle]="{
                    'margin-bottom': PasswordCtrl.invalid ? '1rem' : '0'
                }">
            </app-input-cva>
            <div>
                <app-input-cva [formControl]=" ConfirmPasswordCtrl" [label]="'Confirm Password'" [type]="'password'"
                    [placeHolder]="'Confirm your password'" [hint]="'Confirm above password'">
                </app-input-cva>
                @if(PasswordCtrl.valid && ConfirmPasswordCtrl.valid && registerFg.hasError('invalidPasswordsMatch')) {
                <mat-error>Password entries don't match.</mat-error>
                }
            </div>
            <!-- show api errors -->
            @if(errorMessages) {
            <ul>
                @for (error of errorMessages; track $index) {
                <li>
                    <mat-error>{{error}}</mat-error>
                </li>
                }
            </ul>
            }
            <mat-slide-toggle formControlName="recaptchaCtrl" (change)="validateRecaptcha()" color="primary">
                @if(!RecaptchaCtrl.value) {
                <span style="color: palevioletred;">Not a robot? Slide me!</span>
                }
                @else {
                <span style="color: #ba005c;">Validated</span>
                }
            </mat-slide-toggle>
            <button type="submit" [disabled]="registerFg.invalid || !RecaptchaCtrl.value" mat-raised-button
                color="primary" class="submitBtn">Register</button>
            <!-- <p>{{registerFg.errors | json}}</p> -->
        </div>
    </div>
</form>