<div>
    <button (click)="get404Error()" mat-raised-button color="accent">400 not-found</button>
    <button (click)="get400Error()" mat-raised-button color="accent">404 bad-request</button>
    <button (click)="get500Error()" mat-raised-button color="accent">500 server-error</button>
    <button (click)="get401Error()" mat-raised-button color="accent">401 auth</button>
    <button (click)="get400RegisterValidationErrors()" mat-raised-button color="accent">400 register validation</button>
    <button (click)="get400LoginValidationErrors()" mat-raised-button color="accent">400 login validation</button>
</div>