<!-- #region Mobile -->
@if(isMobileSig()) {
<mat-tab-group mat-stretch-tabs="true" disablePagination="true">
    @if(loggedInUserSig()?.roles?.includes("admin")) {
    <mat-tab #admin>
        <div class="tab-container">
            <ng-template mat-tab-label>
                <mat-icon [color]="admin.isActive ? 'primary' : ''">admin_panel_settings</mat-icon>
            </ng-template>
            <app-admin-panel />
        </div>
    </mat-tab>
    }
    <mat-tab #members>
        <div class="tab-container">
            <ng-template mat-tab-label>
                <mat-icon [color]="members.isActive ? 'primary' : ''">diversity_3</mat-icon>
            </ng-template>
            <app-member-list-mobile />
        </div>
    </mat-tab>
    @if(!loggedInUserSig()?.roles?.includes("admin")) {
    <mat-tab #follows>
        <div class="tab-container">
            <ng-template mat-tab-label>
                <mat-icon [color]="follows.isActive ? 'primary' : ''">group_add</mat-icon>
            </ng-template>
            <app-follows />
        </div>
    </mat-tab>
    <mat-tab #message>
        <ng-template mat-tab-label>
            <mat-icon [color]="message.isActive ? 'primary' : ''">chat</mat-icon>
        </ng-template>
        <app-messages />
    </mat-tab>
    <mat-tab #comment>
        <div class="tab-container">
            <ng-template mat-tab-label>
                <mat-icon [color]="comment.isActive ? 'primary' : ''">share_reviews</mat-icon>
            </ng-template>
            <app-comment />
        </div>
    </mat-tab>
    }
</mat-tab-group>
}
<!-- #endregion -->
<!-- #region Desktop -->
@else {
<app-member-list />
}
<!-- #endregion -->