div {
    display: flex;
    flex-direction: column;

    .head {
        display: flex;
        gap: 30%;
        align-items: center;
        height: 3rem;

        .title {
            margin: 0;
        }

        .warning {
            background-color: rgb(255, 219, 255);
        }
    }

    .content {
        padding: 2% 4%;
        display: flex;
        gap: 2rem;

        mat-card {
            width: 15rem;

            mat-card-content{
                margin-top: 1rem;
            }

            mat-card-actions button {
                width: 100%;
            }
        }

        mat-tab-group {
            padding: 1rem;
            flex-grow: 3;

            .tab-contents {
                padding: 1rem;
            }

            .about-contents {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                mat-form-field {
                    width: 100%;
                }
            }
        }
    }
}