<div>
    <section class="head">
        <h1 class="title">Your Profile</h1>
        <mat-card class="warning">
            <mat-card-content *ngIf="memberEditFg.dirty">
                <p><strong>Warning: </strong>You have made changes. Any unsaved changes will be lost!</p>
            </mat-card-content>
        </mat-card>
    </section>
    <section *ngIf="member$ | async as member" class="content">
        <mat-card>
            <ng-container *ngFor="let photo of member.photos">
                <img *ngIf="photo.isMain" mat-card-image ngSrc="{{apiPhotoUrl + photo.url_128}}" width="240"
                    height="240" alt="Photo of {{member.knownAs}}">
                <img *ngIf="member.photos.length === 0" mat-card-image ngSrc="{{'./assets/images/defaults/user.png'}}"
                    width="128" height="128" alt="Photo of {{member.knownAs}}">
            </ng-container>
            <mat-card-content>
                <div>
                    <strong>Location</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Age</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last Active</strong>
                    <p>{{member.lastActive | date}}</p>
                </div>
                <div>
                    <strong>Member Since</strong>
                    <p>{{member.created | date}}</p>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button type="submit" (click)="updateMember()"
                    [disabled]="memberEditFg.pristine || memberEditFg.invalid" mat-raised-button color="primary">
                    Save Changes
                </button>
            </mat-card-actions>
        </mat-card>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <!-- <mat-tab label="About {{member.knownAs}}">
                <div class="tab-contents">
                    <form [formGroup]="memberEditFg" (ngSubmit)="memberEditFg.value" class="about-contents">
                        <mat-form-field appearaance="outline">
                            <mat-label>Introduction</mat-label>
                            <textarea cdkTextareaAutosize formControlName="introductionCtrl"
                                [value]="member.introduction" placeholder="Say something about your self" matInput
                                required>
                            {{IntroductionCtrl.value}}
                        </textarea>
                            <mat-hint>{{IntroductionCtrl.value?.length}} of {{maxTextAreaChars}}</mat-hint>
                            <mat-error *ngIf="IntroductionCtrl.hasError('required')">This field is required</mat-error>
                            <mat-error *ngIf="IntroductionCtrl.hasError('minlength')">
                                Minimum of {{minTextAreaChars}} characters is requried.
                            </mat-error>
                            <mat-error *ngIf="IntroductionCtrl.hasError('maxlength')">
                                Maximum of {{maxTextAreaChars}} characters is reached.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearaance="outline">
                            <mat-label>Looking For</mat-label>
                            <textarea cdkTextareaAutosize formControlName="lookingForCtrl"
                                placeholder="Enter what you're looking for" matInput required>
                            {{member.lookingFor}}
                        </textarea>
                            <mat-hint>{{LookingForCtrl.value?.length}} of {{maxTextAreaChars}}</mat-hint>
                            <mat-error *ngIf="LookingForCtrl.hasError('required')">This field is required</mat-error>
                            <mat-error *ngIf="LookingForCtrl.hasError('minlength')">
                                Minimum of {{minTextAreaChars}} characters is requried.
                            </mat-error>
                            <mat-error *ngIf="LookingForCtrl.hasError('maxlength')">
                                Maximum of {{maxTextAreaChars}} characters is reached.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearaance="outline">
                            <mat-label>Interests</mat-label>
                            <textarea cdkTextareaAutosize formControlName="interestsCtrl"
                                placeholder="Enter your interests" matInput required>
                            {{member.interests}}
                        </textarea>
                            <mat-hint>{{InterestsCtrl.value?.length}} of {{maxTextAreaChars}}</mat-hint>
                            <mat-error *ngIf="InterestsCtrl.hasError('required')">This field is required</mat-error>
                            <mat-error *ngIf="InterestsCtrl.hasError('minlength')">
                                Minimum of {{minTextAreaChars}} characters is requried.
                            </mat-error>
                            <mat-error *ngIf="InterestsCtrl.hasError('maxlength')">
                                Maximum of {{maxTextAreaChars}} characters is reached.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearaance="outline">
                            <mat-label>City</mat-label>
                            <input formControlName="cityCtrl" placeholder="Enter your city" matInput required>
                            <mat-error *ngIf="CityCtrl.hasError('required')">This field is required</mat-error>
                            <mat-error *ngIf="CityCtrl.hasError('minlength')">
                                Minimum of {{minInputChars}} characters is requried.
                            </mat-error>
                            <mat-error *ngIf="CityCtrl.hasError('maxlength')">
                                Maximum of {{maxInputChars}} characters is reached.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearaance="outline">
                            <mat-label>Country</mat-label>
                            <input cdkTextareaAutosize formControlName="countryCtrl" placeholder="Enter your country."
                                matInput required>
                            <mat-error *ngIf="CountryCtrl.hasError('required')">This field is required</mat-error>
                            <mat-error *ngIf="CountryCtrl.hasError('minlength')">
                                Minimum of {{minInputChars}} characters is requried.
                            </mat-error>
                            <mat-error *ngIf="CountryCtrl.hasError('maxlength')">
                                Maximum of {{maxInputChars}} characters is reached.
                            </mat-error>
                        </mat-form-field>
                    </form>
                </div>
            </mat-tab> -->
            <mat-tab label="Edit Photos">
                <div class="tab-contents">
                    <app-photo-editor [member]="member$"></app-photo-editor>
                </div>
            </mat-tab>
        </mat-tab-group>
    </section>
</div>
<!-- <p>{{ memberEditFg.value | json }}</p> -->