<main>
    <nav>
        <a [routerLink]="['']" class="brand">
            <mat-icon>eco</mat-icon>
            Hallboard
        </a>
    </nav>
    <img class="main-bg-image" ngSrc="/assets/images/components/home/bg.webp" fill priority alt="Loading image...">
    <section class="row1">
        <h3>Find Your Perfect Match!</h3>
        <app-login-register />
    </section>
    <section class="row2">
        <h5>
            Hallboard is free to join and use, so what are you waiting for? Sign up today and start connecting with
            people!
        </h5>
        <div class="middle-boxes">
            <div class="box">
                <div class="image">
                    <img ngSrc="/assets/images/components/home/row2-1.webp" fill priority alt="Loading image...">
                </div>
                <p>
                    Are you looking for new relationship, a special someone, or just someone to chat with?
                </p>
            </div>
            <div class="box">
                <div class="image">
                    <img ngSrc="/assets/images/components/home/row2-2.webp" fill alt="Loading image...">
                </div>
                <p>
                    Hallboard is the perfect place for you to meet like-minded people as a friend in your area.
                </p>
            </div>
            <div class="box">
                <div class="image">
                    <img ngSrc="/assets/images/components/home/row2-3.webp" fill alt="Loading image...">
                </div>
                <p>
                    Hallboard has a variety of groups and events that you can join, which is a great way to meet new
                    people in
                    person.
                </p>
            </div>
        </div>
    </section>
    <!-- <section class="row3">
        <div class="bg-image">
            <div class="text">
                <h1>Why we're here!</h1>
                <ul>
                    <li>Browse profiles and connect with people who share your interests.</li>
                    <li>Send messages and chat with other users.</li>
                    <li>Join groups and events to meet people in person.</li>
                    <li>Share your thoughts and experiences on our blog.</li>
                    <li>Get involved in our community and help others find love and friendship.</li>
                </ul>
            </div>
        </div>
    </section> -->
</main>