main {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    nav {
        .brand {
            width: fit-content;
            display: flex;
            align-items: center;
            color: white;
            text-decoration: none;

            font-family: "Fredoka", sans-serif;
            font-size: 28px;
            font-optical-sizing: auto;
            font-weight: bold;
            font-style: normal;
            font-variation-settings:
                "wdth" 100;
        }
    }

    .main-bg-image {
        z-index: -1;
    }

    .row1 {
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            right: 10%;
            z-index: 2;

            h1 {
                font-weight: bold;
                letter-spacing: 2px;
            }
        }
    }

    .row2 {
        margin-top: 65dvh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: space-evenly;
        text-align: center;
        gap: 5dvh;

        .row2-title {
            align-self: center;
            background-color: rgba(124, 125, 117, 0.8);
            border-radius: 8px;
            padding: 1rem;
            width: 80%;

            h5 {
                color: white;
                margin: 0;
            }
        }

        .middle-boxes {
            display: flex;
            justify-content: space-evenly;
            gap: 3rem;

            .box {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 1;
                gap: 1rem;
                padding: 1rem;
                background-color: #f1f1f1;
                border-radius: 8px;

                .image {
                    position: relative; // required for ngSrc fill
                    width: 30rem;
                    height: 30dvh;
                    border-radius: 8px;

                    img {
                        /* Example height for the container */
                        object-fit: cover;
                        /* Scales the image to cover the container */
                        object-position: 50% 50%;
                        /* Positions the center of the image within the container */
                    }
                }
            }
        }
    }

    // .row3 {
    //     display: flex;
    //     justify-content: center;

    //     .bg-image {
    //         width: 90%;
    //         height: 90dvh;
    //         background-image: url('/assets/images/home/row3-1.webp');
    //         background-repeat: no-repeat;
    //         background-size: cover;
    //         background-position: center center;
    //         border-radius: 5rem;
    //         position: relative;

    //         .text {
    //             position: absolute;
    //             top: 5%;
    //             right: 5%;

    //             h1 {
    //                 letter-spacing: 2px;
    //             }
    //         }
    //     }
    // }
}

@media only screen and (min-width: 40rem) {
    .container {
        border: 1px solid rgb(218, 218, 218);
        padding-top: 1rem;
        border-radius: 2rem;
    }
}