<main>
  <mat-tab-group #tabGroup (selectedIndexChange)="setSelectTabIndex($event)" disablePagination="true"
                 headerPosition="below" mat-stretch-tabs="true">
    <mat-tab #inbox>
      <h4>Inbox</h4>
      <div class="tab-container">
        <ng-template mat-tab-label>
          <mat-icon [color]="inbox.isActive ? 'primary' : ''">inbox</mat-icon>
        </ng-template>
        @if (!isLoadingSig() && messages.length === 0) {
          <h5 class="warning">
            You have not received any message yet.
          </h5>
        } @else {
          <app-cdk-virtual-scroller [messagesIn]="messages" [totalItemsCountIn]="totalItemsCount"/>
        }
      </div>
    </mat-tab>
    <mat-tab #unread>
      <h4>Unread</h4>
      <div class="tab-container">
        <ng-template mat-tab-label>
          <mat-icon [color]="unread.isActive ? 'primary' : ''">mark_email_unread</mat-icon>
        </ng-template>
        @if (!isLoadingSig() && messages.length === 0) {
          <h5 class="warning">
            Your unread messages will be here.
          </h5>
        } @else {
          <app-cdk-virtual-scroller [messagesIn]="messages" [totalItemsCountIn]="totalItemsCount"/>
        }
      </div>
    </mat-tab>
    <mat-tab #read>
      <h4>Read</h4>
      <div class="tab-container">
        <ng-template mat-tab-label>
          <mat-icon [color]="read.isActive ? 'primary' : ''">mark_as_unread</mat-icon>
        </ng-template>
        @if (!isLoadingSig() && messages.length === 0) {
          <h5 class="warning">
            Your read messages will be here.
          </h5>
        } @else {
          <app-cdk-virtual-scroller [messagesIn]="messages" [totalItemsCountIn]="totalItemsCount"/>
        }
      </div>
    </mat-tab>
    <mat-tab #sent>
      <h4>Sent</h4>
      <div class="tab-container">
        <ng-template mat-tab-label>
          <mat-icon [color]="sent.isActive ? 'primary' : ''">send</mat-icon>
        </ng-template>
        @if (messages.length === 0) {
          <h5 class="warning">
            Messages you sent will be here.
          </h5>
        } @else {
          <app-cdk-virtual-scroller [messagesIn]="messages" [totalItemsCountIn]="totalItemsCount"/>
        }
      </div>
    </mat-tab>
  </mat-tab-group>
</main>
