$height: calc(100dvh - 8rem);

.container {
    display: flex;
    flex: 1;
    height: $height;
    background-color: rgb(255, 233, 237);

    .side {
        height: $height;
        width: 10rem;
        min-width: fit-content;

        mat-list {
            padding: 0;
            margin: 0;

            mat-list-item {
                padding: 0;
                margin: 0;
            }

            .menu-items {
                display: flex;
                align-items: center;
                gap: 5px;
                line-height: 47px;
                padding-left: 1rem;
                margin: 0;

                &:hover {
                    background-color: rgb(255, 176, 255);
                    cursor: pointer;
                }
            }

            .selected-tab {
                background-color: rgb(255, 176, 255);
                border-radius: 1rem;
            }
        }
    }

    main {
        flex-grow: 4;
        height: $height;
        background-color: white;
        border-radius: 1rem 0 0 1rem;

        .warning {
            height: $height;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .table-wrapper {
            min-height: 200px;
            max-height: calc($height - 4rem);
            overflow: auto;
            border-radius: 1rem;

            table {
                width: 100%;

                .user-info {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    img {
                        border-radius: 50%;
                    }
                }

                .mat-column-from {
                    width: 12rem;
                }

                .mat-column-sentOn,
                .mat-column-readOn {
                    width: 8rem;
                }

                .mat-mdc-row .mat-mdc-cell {
                    border-bottom: 1px solid transparent;
                    border-top: 1px solid transparent;
                    cursor: pointer;
                }

                .mat-mdc-row:hover .mat-mdc-cell {
                    border-color: palevioletred;
                    background-color: rgb(255, 235, 238);
                }
            }
        }
    }
}