<section class="container" *ngIf="member">
    <div *ngFor="let photo of member.photos; let i = index">
        <img ngSrc="{{basePhotoUrl + photo.url_128}}" width="128" height="128" alt="{{member.knownAs}} photo">

        <div class="buttons">
            <button (click)="setMainPhoto(photo.url_128)" mat-stroked-button color="primary"
                [disabled]="photo.isMain">Main</button>
            <button (click)="deletePhoto(photo.url_128, i)" mat-mini-fab color="warn"
                [disabled]="photo.isMain"><mat-icon>delete</mat-icon></button>
        </div>
    </div>
    <h3 *ngIf="member.photos.length === 0">Your album is empty. You may upload some photos.</h3>
</section>
<mat-error *ngIf="errorGlob">
    This update has failed for this reason:
    <br> {{errorGlob}}
    <br> Please try again or contact the admin.
</mat-error>