.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    
    div {
        width: 128px;
        
        .buttons {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }
}