main {
  padding: 1rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .recaptcha {
      * {
        color: palevioletred;
        margin: 0;
      }

      .validating-recaptcha {
        display: flex;
        gap: 0.5rem;

        mat-spinner {
          max-height: 1rem;
          max-width: 1rem;
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
    }
  }

  .sent-message {
    padding: 1rem;

    .close-tab-message {
      color: #5a5a5a;
    }
  }
}
