<h2>You are about to reset your password!</h2>
<form (ngSubmit)="requestPasswordReset()" [formGroup]="requestResetFg">
  <app-input-cva [error]="'Enter a valid email address.'" [formControl]="EmailCtrl"
                 [hint]="'Privately used for account management. (e.g. Reset password, Login)'"
                 [isFocused]="!isMobileSig()"
                 [label]="'Email'" [placeHolder]="'Your email'">
  </app-input-cva>
  <mat-slide-toggle (change)="validateRecaptcha()" [formControl]="RecaptchaCtrl" class="recaptcha"
                    color="primary">
    @if (!RecaptchaCtrl.value) {
      <p>Not a robot? Slide me!</p>
    } @else if (RecaptchaCtrl.value && isRecaptchaValidating) {
      <div class="validating-recaptcha">
        <p>Validating</p>
        <mat-spinner></mat-spinner>
      </div>
    } @else {
      <span style="color: #ba005c;">Validated</span>
    }
  </mat-slide-toggle>
  <div class="buttons">
    <button (click)="cancelRequest()" mat-icon-button type="button">
      <mat-icon>reply</mat-icon>
    </button>
    <button [disabled]="!(RecaptchaCtrl.value && recaptchaToken)" color="accent"
            mat-raised-button
            type="submit">Reset password
    </button>
  </div>
</form>
