<main>
    @if (!isEmailSent) {
        <h3>Send your reset password request</h3>
        <form (ngSubmit)="requestPasswordReset()" [formGroup]="requestResetFg">
            <app-input-cva [error]="'Enter a valid email address.'" [formControl]="EmailCtrl"
                           [hint]="'This email must be registered and verified.'"
                           [isFocused]="!isMobileSig()"
                           [label]="'Email'" [placeHolder]="'Enter your registered email'">
            </app-input-cva>
            <mat-slide-toggle (change)="validateRecaptcha()" [formControl]="RecaptchaCtrl" class="recaptcha"
                              color="primary">
                @if (!RecaptchaCtrl.value) {
                    <p>Not a robot? Slide me!</p>
                } @else if (RecaptchaCtrl.value && isRecaptchaValidating) {
                    <div class="validating-recaptcha">
                        <p>Validating</p>
                        <mat-spinner></mat-spinner>
                    </div>
                } @else {
                    <span style="color: #ba005c;">Validated</span>
                }
            </mat-slide-toggle>
            <div class="buttons">
                <button (click)="cancelRequest()" mat-icon-button type="button">
                    <mat-icon>reply</mat-icon>
                </button>
                <button [disabled]="!(RecaptchaCtrl.value && recaptchaToken)" color="accent"
                        mat-raised-button
                        type="submit">Send reset request
                </button>
            </div>
        </form>
    } @else {
        <div class="sent-message">
            <p>{{ apiMessage }}. Please check your email to reset your password using the provided link.</p>
            <p class="close-tab-message"><i>You can close this tab now.</i></p>
        </div>
        <button (click)="cancelRequest()" mat-icon-button type="button">
            <mat-icon>reply</mat-icon>
        </button>
    }
</main>
