<div>
    <mat-form-field appearance="outline">
        <mat-label>{{label}}</mat-label>
        <input [appAutofocusDir]="isFocused" [type]="type === 'password' && isPasswordHidden ? 'password' : 'text'" [formControl]="Control"
            placeholder="{{placeHolder}}" matInput>
        @if (type === 'password') {
        <button type="button" (click)="showHidePassword()" mat-icon-button matSuffix>
            <mat-icon>
                {{isPasswordHidden ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </button>
        }
        @if(Control.pristine) {
        <mat-hint>{{hint}}</mat-hint>
        }
        @if (Control.hasError('required')) {
        <mat-error>
            {{label}} field is required.
        </mat-error>
        }
        @else if(Control.hasError('pattern')) {
        <mat-error>
            {{error}}
        </mat-error>
        }
        @else if(Control.hasError('minlength')) {
        <mat-error>
            Must be at least {{Control.errors?.['minlength']?.requiredLength}} characters.
        </mat-error>
        }
        @else if(Control.hasError('maxlength')) {
        <mat-error>
            Must be at most {{Control.errors?.['maxlength']?.requiredLength}} characters.
        </mat-error>
        }
    </mat-form-field>
</div>