main {
    display: flex;
    gap: 2rem;

    mat-card {
        max-width: 15rem;
        min-width: 15rem;
        height: fit-content;

        mat-card-content {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-top: 1rem;

            .presence {
                display: flex;
                justify-content: center;
                gap: 0.5rem;
                
                @keyframes m-icon {
                    0% {
                        opacity: 1;
                    }
                    
                    100% {
                        opacity: 0.4;
                    }
                }
                
                .is-online {
                    animation: m-icon 1.5s linear infinite;
                    color: #ba005c;
                }
            }

            div {
                :first-child {
                    font-weight: bold;
                }

                p {
                    margin: 0;
                }
            }
        }

        mat-card-actions {
            display: flex;
            gap: 0.2rem;

            * {
                flex: 1;
            }
        }
    }
    
    mat-tab-group {
        width: 100%;
        
        .tab-contents {
            padding: 1rem;

            .gallery {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;

                .photo {
                    position: relative;

                    mat-icon {
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        width: 2rem;
                        height: 2rem;
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}