main {
    padding: 2% 4%;
    display: flex;
    gap: 2rem;

    mat-card {
        max-width: 20rem;

        mat-card-actions {
            display: flex;
            justify-content: flex-end;
            gap: 0.2rem;
        }
    }

    .tab-contents {
        padding: 1rem;
    }

    .ngx-gallery {
        display: inline-block;
    }
}