main {
    display: flex;
    gap: 2rem;

    mat-card {
        max-width: 15rem;
        min-width: 15rem;

        mat-card-content {
            margin-top: 1rem;
        }

        mat-card-actions {
            display: flex;
            gap: 0.2rem;

            * {
                flex: 1;
            }
        }
    }

    .tab-contents {
        padding: 1rem;

        .gallery {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

        }
    }
}