@if (member$ | async; as member) {
<main>
    <mat-card>
        @for (photo of member.photos; track $index) {
        @if (photo.isMain) {
        <img mat-card-image ngSrc="{{photo.url_165}}" width="240" height="240" priority
            alt="Photo of {{member.knownAs}}">
        }
        }
        @if (member.photos.length === 0) {
        <img mat-card-image ngSrc="./assets/images/defaults/user.png" width="240" height="240"
            alt="Photo of {{member.knownAs}}">
        }
        <mat-card-content>
            <div>
                <p>Location</p>
                <p>{{member.city}}, {{member.country}}</p>
            </div>
            <div>
                <p class="title">Age</p>
                <p>{{member.age}}</p>
            </div>
            <div>
                <p class="title">Last Active</p>
                <p>{{member.lastActive | intlRelativeTime}}</p>
            </div>
            <div>
                <p class="title">Member Since</p>
                <p>{{member.created | date}}</p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            @if (router.url === '/member/' + username) {
            <button [routerLink]="['/user/edit']" routerLinkActive="router-link-active" mat-stroked-button
                color="primary">Edit Profile</button>
            }
            @else {
            @if(member.isFollowing) {
            <button (click)="removeFollow(member)" mat-raised-button color="primary">Unfollow</button>
            }
            @else {
            <button (click)="addFollow(member)" mat-raised-button color="primary">Follow</button>
            }
            <button mat-raised-button color="accent">Messages</button>
            }
        </mat-card-actions>
    </mat-card>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="About {{member.knownAs}}">
            <div class="tab-contents">
                @if (member.introduction.length > 0) {
                <h6>Introduction</h6>
                <p>{{member.introduction}}</p>
                }
                @if (member.lookingFor.length > 0) {
                <h6>Looking For</h6>
                <p>{{member.lookingFor}}</p>
                }
                @if(member.introduction.length === 0 && member.lookingFor.length === 0) {
                <p>There is no information provided.</p>
                }
            </div>
        </mat-tab>
        <mat-tab label="Interests">
            <div class="tab-contents">
                @if(member.interests.length > 0) {
                <h6>Interests</h6>
                <p>{{member.interests}}</p>
                }
                @else {
                <p>There is no information provided.</p>
                }
            </div>
        </mat-tab>
        <mat-tab label="Photos">
            <div class="tab-contents">
                @if (images.length > 0) {
                <div class="gallery">
                    @for (image of images; track $index) {
                    <img [lightbox]="$index" gallerize [src]="image.data?.thumb"
                        alt="{{member.knownAs + '\'s' + ' image'}}">
                    }
                </div>
                }
                @else {
                <p>This member has not shared any photos!</p>
                }
            </div>
        </mat-tab>
        <mat-tab label="Messages">
            <div class="tab-contents">
                Messages goes here...
            </div>
        </mat-tab>
    </mat-tab-group>
</main>
}