.main-bg-image {
    z-index: -1;
}

button {
    width: fit-content;
    margin-bottom: 2rem;
}

main {
    width: 100%;
    height: 100%;
    position: relative;

    mat-stepper {
        background-color: transparent;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .title {
            color: white;
            font-weight: bold;
        }

        p {
            color: white;
            width: 70%;
        }

        .pages {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
        }

        .page-1 {
            gap: 1rem;
            justify-content: flex-end;
        }

        .page-2 {
            align-items: center;
            justify-content: space-between;
        }

        .page-3 {
            justify-content: space-between;
            
            p {
                width: 100%;
            }
        }
    }
}

// access the stepper wrapper
::ng-deep .mat-horizontal-stepper-wrapper {
    height: 100%;
    // background-color: purple;

    // set the container
    .mat-horizontal-content-container {
        height: 100%;
        // background-color: aqua;
    }

    // set the content height
    .mat-horizontal-stepper-content {
        height: 100%;
        // background-color: pink;
    }

    // hide the horizantal lines
    .mat-stepper-horizontal-line {
        display: none;
    }

    // decrease the width of header buttons
    .mat-step-header {
        width: 1.5rem;
    }

    // center the header buttons
    .mat-horizontal-stepper-header-container {
        display: flex;
        justify-content: center;
    }
}