<main>
    <h1>Find Your Beloved One</h1>
    <section class="filterSort">
        <div class="filter">
            <div class="fields">
                <mat-form-field>
                    <mat-label>Gender</mat-label>
                    <mat-select [(ngModel)]="gender" name="gender">
                        <mat-option [value]="'female'">Female</mat-option>
                        <mat-option [value]="'male'">Male</mat-option>
                        <mat-option [value]="'other'">Other</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>From age</mat-label>
                    <mat-select [(ngModel)]="minAge" name="minAge">
                        @for (age of ages; track $index) {
                        <mat-option [value]="age">{{age}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>To age</mat-label>
                    <mat-select [(ngModel)]="maxAge" name="maxAge">
                        @for (age of ages; track $index) {
                        <mat-option [value]="age">{{age}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <div class="buttons">
                    <!-- TODO disable bottons corrctly -->
                    <button mat-mini-fab (click)="getFilteredMembers()"
                        [disabled]="minAge > maxAge || !gender && minAge === 18 && maxAge === 99" color="primary">
                        <mat-icon>filter_alt</mat-icon>
                    </button>
                    <button mat-mini-fab (click)="resetFilter()" [disabled]="true" color="primary">
                        <mat-icon>undo</mat-icon>
                    </button>
                </div>
            </div>
            @if (minAge > maxAge) {
            <mat-error>'From age' cannot be greater than 'To age'.</mat-error>
            }
        </div>
        <div class="sort">
            <mat-form-field>
                <mat-label>Order by</mat-label>
                <mat-select [(ngModel)]="orderBy" name="orderBy">
                    @for (orderOption of orderOptions; track $index) {
                    <mat-option [value]="orderOption" (click)="getFilteredMembers()"
                        [disabled]="orderOption === orderBy">{{orderOptionsView[$index]}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
    </section>
    <div class="members-list">
        @if (members?.length === 0) {
        <p>No user exists with this filter. Please change the filter values or Reset the filter.</p>
        }
        @for (member of members; track $index) {
        <app-member-card [memberInput]="member"></app-member-card>
        }
    </div>
    @if (pagination && memberParams) {
    <mat-paginator #paginator (page)="handlePageEvent($event)" [length]="pagination.totalItems"
        [pageSize]="memberParams.pageSize" [disabled]="false" [showFirstLastButtons]="showFirstLastButtons"
        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
        [pageIndex]="memberParams.pageNumber - 1" aria-label="Select page" class="paginator">
        <!-- pageIndex must start from 0 -->
    </mat-paginator>
    }
</main>