main {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 2rem;
        font-weight: bold;
    }

    .filterSort {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .filter {
            // style empty list with this filter message
            display: flex;
            flex-direction: column;
            align-items: center;

            .fields {
                display: flex;
                gap: 1rem;

                // TODO make smaller
                // mat-form-field {
                //     width: 7rem;
                // }

                .buttons {
                    // margin-top: 0.5rem; // adjust to select mat-form-field items
                    display: flex;
                    gap: 0.2rem;
                }
            }
        }
    }

    .members-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        margin: 2rem;

        p {
            font-size: 1rem;
            color: rgb(66, 66, 66);
        }
    }
}