main {
    display: flex;
    justify-content: stretch;
    gap: 1rem;
    // background-color: yellow;

    .sidebar {
        // background-color: red;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 5rem;

        * {
            display: flex;
        }

        .filter {

            // style empty list with this filter message
            flex-direction: column;
            align-items: center;

            mat-form-field {
                // width: 7rem;
            }

            .buttons {
                // background-color: green;
                margin-top: 0.5rem; // adjust to select mat-form-field items
                gap: 0.2rem;
            }
        }

        .order-by {}
    }

    .members-container {
        // background-color: blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: auto;

        h1 {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 2rem;
            font-weight: bold;
            align-self: center;
            // background-color: green;
        }

        .members {
            padding-top: 2rem;
            min-height: 50dvh;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;
            margin: 2rem;

            p {
                font-size: 1rem;
                color: rgb(66, 66, 66);
            }
        }

        .paginator {}
    }
}