<main>
    <cdk-virtual-scroll-viewport [minBufferPx]="bufferSize" [maxBufferPx]="bufferSize" itemSize="50" class="messages-container">
        <div *cdkVirtualFor="let message of messages" class="item">
            <div class="details">
                <li class="title">
                    <mat-icon>schedule</mat-icon>
                    <p>{{message.sentOn | intlRelativeTime}}</p>
                    @if(message.userOrTargetUserName !== memberIn?.userName) {
                    <mat-icon [ngStyle]="{'color': message.readOn ? 'green' : 'red'}">
                        {{message.readOn ? 'done_all' : 'check'}}
                    </mat-icon>
                    }
                </li>
                <li class="content">{{message.content}}</li>
            </div>
            <img ngSrc="{{message.userOrTargetProfilePhoto}}" priority width="{{photoWH}}" height="{{photoWH}}"
                alt="{{message.userOrTargetUserName}}">
        </div>
    </cdk-virtual-scroll-viewport>
    <form (ngSubmit)="create()" class="create">
        <app-input-cva [formControl]="createMessageCtrl" [label]="'Your message'" [placeHolder]="'Enter your message'"
            [isFocused]="!isMobileSig()" [hint]="'Up to 500 characters.'" [isButtonSuffix]="true">
        </app-input-cva>
    </form>
</main>