$tabGroup_h: 4rem;
$create_h: 75px;

main {
  height: calc(100dvh - $tabGroup_h);
  overflow: hidden;
  padding: 0 0.3rem;

  .warning-layout-helper {
    color: transparent;
  }

  .warning {
    color: rgb(121, 121, 121);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .messages-container {
    height: calc(100dvh - $tabGroup_h - $create_h);

    .item {
      border-bottom: rgb(194, 194, 194) dotted 1px;
      list-style: none;
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 50px;
      max-width: calc(95% - 0.3rem);

      * {
        padding: 0;
        margin: 0;
      }

      .details {
        .title {
          display: flex;
          align-items: center;
          color: rgb(116, 116, 116);

          * {
            font-size: 1rem;
          }

          p {
            font-size: 0.8rem;
          }


          mat-icon {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .content {
          word-wrap: anywhere;
        }
      }

      img {
        border-radius: 50%;
      }
    }
  }

  .create {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    .content {
      padding: 0 0.3rem;

      mat-form-field {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 51rem) {
  $navbar_h: 64px;
  $footer_h: 64px;
  $tabGroup_h: 9rem;
  $tabGroupPadding_height: 2rem;

  main {
    //background-color: red;
    width: 90%;
    height: calc(100dvh - $navbar_h - $footer_h - $tabGroup_h - $tabGroupPadding_height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .messages-container {
      height: inherit;
      padding: 1rem 0;

      .item {
        padding-right: 1rem;
      }
    }

    .create {
      bottom: calc($footer_h + 1rem);
      left: calc(15rem + 4% + 2rem); // left-side + parent's padding + left-side and right-side gap

      .content {
        padding: 0;

        mat-form-field {
          width: 50%;
          min-width: 25rem;
        }
      }
    }
  }
}
