<main>
    <mat-tab-group (selectedTabChange)="onTabChange($event)">
        <mat-tab label="Following">
            @if(predicate === 'followings')
            {
            <div class="members">
                @if(members && members.length > 0) {
                @for (member of members; track $index;) {
                <app-member-card [member]="member" />
                }
                }
                @else if(!loading.isLoading) {
                <p>You've not followed anyone so far.</p>
                }
            </div>
            }
        </mat-tab>
        <mat-tab label="Followers">
            @if(predicate === 'followers')
            {
            <div class="members">
                @if(members && members.length > 0) {
                @for (member of members; track $index;) {
                <app-member-card [member]="member" />
                }
                }
                @else if(!loading.isLoading) {
                <p>Your follwers list is empty. Communication brings better days!</p>
                }
            </div>
            }
        </mat-tab>
    </mat-tab-group>
    @if (pagination) {
    <mat-paginator class="paginator" #paginator (page)="handlePageEvent($event)" [length]="pagination.totalItems"
        [pageSize]="pageSize" [disabled]="false" [showFirstLastButtons]="showFirstLastButtons"
        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
        [pageIndex]="pageNumber - 1" aria-label="Select page" class="paginator">
        <!-- pageIndex must start from 0 -->
    </mat-paginator>
    }
</main>