main {
    // background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    mat-tab-group {
        .members {
            // background-color: red;
            padding-top: 2rem;
            min-height: 50dvh;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;
            margin: 2rem;

            p {
                font-size: 1rem;
                color: rgb(66, 66, 66);
            }
        }
    }

    .paginator {
        display: flex;
        align-self: center;
    }
}