<div class="page">
  <ngx-spinner type="ball-atom">
    <h6>Loading...</h6>
  </ngx-spinner>

  <section class="container">
    <!-- showHideComp() returns true/false in the component which wants to remove the navbar. e.g. HomeComoponent -->
    @if(showHideComp()){
    <header>
      <nav>
        <app-navbar />
      </nav>
    </header>
    }

    <main>
      <div class="wrapper">
        <router-outlet />
      </div>
    </main>
    <footer>
      <app-footer [isLoggedInIn]="showHideComp()" />
    </footer>
  </section>
</div>