.page { // include ngx-spinner

    .container {
        min-height: 100dvh;
        display: flex;
        flex-direction: column;

        header {
            position: sticky;
            top: 0;
            z-index: 2;
        }

        main {
            display: flex;
            justify-content: center;
            flex: 1;
            padding: 2% 4% 6%; // left/right 4%

            >* { // router-outlet objects
                width: 100%;
            }
        }

        footer {}
    }
}