.page {
    .container {
        min-height: 100dvh;
        display: flex;
        flex-direction: column;

        header {
            position: sticky;
            top: 0;
            z-index: 2;
        }

        main {
            padding: 2% 4% 6%; // left/right 4%
        }

        footer {
            
        }
    }
}