.title {
    font-size: 1rem;
    text-align: center;
}

mat-stepper {
    background-color: #f0f4f9;
    border-radius: 2rem;

    ul {
        list-style: none;
    }

    .container {
        padding-top: 0.5rem;

        form {
            background-color: white;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            border-radius: 2rem;
            padding: 1rem 0.5rem;
            width: 100%;
            max-width: 30rem;

            .buttons {
                display: flex;
                align-self: center;
                gap: 1rem;
            }
        }

        .review-submit {
            display: flex;
            flex-direction: column;

            .title {
                color: palevioletred;
            }

            .buttons {
                display: flex;
                flex-direction: column;
                margin-top: 1rem;
            }
        }
    }
}

@media only screen and (min-width: 51rem) {
    mat-stepper {
        >* {
            padding-top: 1rem;
        }

        .container {
            padding-top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 50dvh;

            form {
                padding: 2rem;
                width: 100%;
                max-width: 30rem;
            }

            .review-submit {
                min-width: 80%;

                .buttons {
                    margin-top: 2rem;
                    flex-direction: row;
                    justify-content: space-evenly;
                }
            }
        }
    }
}