<form [formGroup]="filterFg">
  <p class="title">Filter members</p>
  <section class="filters">
    <!-- Search -->
    <app-input-cva [formControl]="UserNameOrKnownAs" [hint]="'By email or username'"
                   [label]="'Email / Username'"
                   [placeHolder]="'Email or username'">
    </app-input-cva>
    <!-- Gender -->
    <mat-form-field>
      <mat-label>By gender</mat-label>
      <mat-select formControlName="genderCtrl">
        <mat-option>-- none --</mat-option>
        <mat-option [value]="'female'">Female</mat-option>
        <mat-option [value]="'male'">Male</mat-option>
        <mat-option [value]="'other'">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-divider/>
    <!-- Age -->
    <div class="age">
      <p>By age range</p>
      <mat-slider discrete max="{{maxAge}}" min="{{minAge}}">
        <input formControlName="minAgeCtrl" matSliderStartThumb>
        <input formControlName="maxAgeCtrl" matSliderEndThumb>
      </mat-slider>
      <p class="hint">Slide between {{ minAge }} and {{ maxAge }}</p>
    </div>
  </section>
  <!-- Buttons -->
  <div class="buttons">
    <button (click)="updateMemberParams()" [disabled]="disableButton()" color="primary"
            mat-stroked-button>
      Apply Filters
    </button>
  </div>
</form>
