<section class="content">
    @if(usersWithRole) {
    <mat-error [style.visibility]="selectedRoles.dirty ? 'visible' : 'hidden'">
        You have unsaved changes. Make sure they are
        all saved.
    </mat-error>
    <table mat-table [dataSource]="usersWithRole" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
        </ng-container>

        <!-- UserName Column -->
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
        </ng-container>

        <!-- Edit Role Column -->
        <ng-container matColumnDef="edit-role">
            <th mat-header-cell *matHeaderCellDef> Edit Role </th>
            <td class="edit-role" mat-cell *matCellDef="let element; let i = index;">
                @if(selectedRoles.at(i).hasError('required')) {
                <mat-error>One role is required.</mat-error>
                }
                <div class="roles-and-button">
                    <mat-form-field>
                        <mat-label>Edit</mat-label>
                        <mat-select multiple [formControl]="selectedRoles.at(i)">
                            @for (role of displayedRoles; track $index) {
                            <mat-option
                                [disabled]="element.userName === 'admin' && role === 'admin' || role === 'member'"
                                [value]="role">{{role
                                |
                                titlecase}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <button
                        [disabled]="selectedRoles.at(i).value?.toString() === element.roles.toString() && selectedRoles.at(i).invalid || selectedRoles.at(i).pristine"
                        (click)="updateRoles(i, element.userName)" mat-stroked-button color="primary">
                        Save
                    </button>
                </div>
            </td>
        </ng-container>

        <!-- Roles Column -->
        <ng-container matColumnDef="active-roles">
            <th mat-header-cell *matHeaderCellDef> Active Role </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{selectedRoles.at(i).value}} </td>
        </ng-container>

        <!-- Delete User Column -->
        <ng-container matColumnDef="delete-member">
            <th mat-header-cell *matHeaderCellDef> Delete Member </th>
            <td mat-cell *matCellDef="let element; let i = index">
                <button mat-mini-fab (click)="deleteMember(i, element.userName)">
                    <mat-icon color="warn">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    }
    @if (pagination && baseParams) {
    <mat-paginator class="paginator" #paginator (page)="handlePageEvent($event)" [length]="pagination.totalItems"
        [pageSize]="baseParams.pageSize" [disabled]="false" [showFirstLastButtons]="showFirstLastButtons"
        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
        [pageIndex]="baseParams.pageNumber - 1" aria-label="Select page" class="paginator">
        <!-- pageIndex must start from 0 -->
    </mat-paginator>
    }
</section>