.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .search {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .edit-role {
        display: flex;
        flex-direction: column;

        .roles-and-button {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
}