<div>
    <form [formGroup]="emailLoginFg" (ngSubmit)="emailLoginFg.value" action="">
        <mat-form-field appearaance="outline">
            <mat-label>Username</mat-label>
            <input formControlName="emailCtrl" dirAutofocus placeholder="Email address" matInput>
            <mat-hint>Your registered email</mat-hint>
            <mat-error *ngIf="EmailCtrl.hasError('required')">Email field is required.</mat-error>
            <mat-error *ngIf="EmailCtrl.hasError('pattern')">Enter a valid email format.</mat-error>
        </mat-form-field>
        <mat-form-field appearaance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="passwordCtrl" type="password" placeholder="Your password" matInput>
            <mat-error *ngIf="PasswordCtrl.hasError('required')">Password field is required.</mat-error>
        </mat-form-field>
        <button (click)="loginEmail()" id="submit" mat-raised-button color="primary">Sign in</button>
    </form>
</div>

<div *ngIf="(user$ | async) as user"><p>{{user}}</p></div>
<div *ngIf="(currentUser$ | async) as currentUser"><p>{{currentUser}}</p></div>

<button mat-button color="primary" (click)="loginGoogle()">Login with Google</button>
<button mat-button color="primary" (click)="loginTwitter()">Login with Twitter</button>

<button mat-button color="primary" (click)="logout()">Logout</button>

<p>{{ emailLoginFg.value | json }}</p>