@if (user) {
<mat-card class="card">
    <div class="card-img-wrapper">
        @for (photo of user.photos; track $index) {
        @if (photo.isMain) {
        <img ngSrc="{{apiPhotoUrl + photo.url_128}}" width="128" height="128" alt="{{user.knownAs}}" mat-card-image>
        }
        }
        @if (user.photos.length === 0) {
        <img ngSrc="/assets/images/defaults/user.png" width="128" height="128" alt="{{user.knownAs}} photo"
            mat-card-image>
        }

        <ul class="user-icons">
            <li>
                <button [routerLink]="['/users/' + user.email]" mat-mini-fab color="warn">
                    <mat-icon color="primary">person_add</mat-icon>
                </button>
            </li>
            <li>
                <button mat-mini-fab color="warn">
                    <mat-icon color="warn">favorite</mat-icon>
                </button>
            </li>
            <li>
                <button mat-mini-fab color="warn">
                    <mat-icon color="accent">mail</mat-icon>
                </button>
            </li>
        </ul>
    </div>
    <mat-card-header>
        <div class="title">
            @switch (user.gender) {
            @case ('male') {
            <mat-icon color="primary">boy</mat-icon>
            }
            @case ('female') {
            <mat-icon color="primary">girl</mat-icon>
            }
            @default {
            <mat-icon color="primary">group_add</mat-icon>
            }
            }
            <mat-card-title>{{user.knownAs | titlecase}}</mat-card-title>
        </div>
        <mat-card-subtitle>{{user.city | titlecase}}</mat-card-subtitle>
    </mat-card-header>
</mat-card>
}