mat-tab-group {
    div {
        width: auto;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;


        app-member-management {
            width: 50rem;
        }
    }
}