$gapBetweenMembers: 0.5rem;
$cardSize: calc(100vw / 3 - $gapBetweenMembers * 2);
$maxDimension: 128px;

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .member-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .members {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: $gapBetweenMembers;

            app-member-card-mobile {
                width: $cardSize;
                height: $cardSize;
                max-width: $maxDimension;
                max-height: $maxDimension;
            }

            p {
                font-size: 1rem;
                color: rgb(66, 66, 66);
            }
        }

        .paginator {
            background-color: white;
            width: fit-content;
        }
    }

    .buttons {
        display: flex;
        gap: 0.5rem;

        button {
            padding: 0.5rem;
        }
    }
}

::ng-deep .mat-mdc-paginator-container {
    .mat-mdc-paginator-page-size-label {
        // hide "Items per page" label
        display: none;
    }

    .mat-mdc-paginator-range-label {
        // remove "1 - 9 of 100" margin
        margin: 0;
    }
}

@media only screen and (min-width: 40rem) {
    main {
        .buttons {
            gap: 1rem;
        }
    }
}