<div>
    <mat-form-field appearance="outline">
        <mat-label>{{label}}</mat-label>
        <ng-container *ngIf="isFocused; else notFocused">
            <input dirAutofocus type={{type}} [formControl]="Control" placeholder="{{placeHolder}}" matInput>
        </ng-container>
        <ng-template #notFocused>
            <input type={{type}} [formControl]="Control" placeholder="{{placeHolder}}" matInput>
        </ng-template>

        <mat-hint *ngIf="Control.pristine">
            {{hint}}
        </mat-hint>
        <mat-error *ngIf="Control.hasError('required')">
            {{label}} field is required.
        </mat-error>
        <mat-error *ngIf="Control.hasError('pattern')">
            This {{label}} format is invalid.
        </mat-error>
        <mat-error *ngIf="Control.hasError('minlength')">
            Must be at least {{Control.errors?.['minlength']?.requiredLength}} characters.
        </mat-error>
        <mat-error *ngIf="Control.hasError('maxlength')">
            Must be at most {{Control.errors?.['maxlength']?.requiredLength}} characters.
        </mat-error>
    </mat-form-field>
</div>