<mat-card *ngIf="member" class="card">
    <div class="card-img-wrapper">
        <ng-container *ngFor="let photo of member.photos">
            <img mat-card-image *ngIf="photo.isMain" ngSrc="{{photo.url_128}}" width="128" height="128" alt="{{member.knownAs}}">
            <img mat-card-image *ngIf="member.photos.length === 0" ngSrc="{{'./assets/images/defaults/user.png'}}" width="128" height="128" alt="{{member.knownAs}} photo">
        </ng-container>
        <ul class="member-icons">
            <li>
                <button [routerLink]="['/members/' + member.email]" mat-mini-fab color="warn">
                    <mat-icon>person_add</mat-icon>
                </button>
            </li>
            <li>
                <button mat-mini-fab color="warn">
                    <mat-icon>favorite</mat-icon>
                </button>
            </li>
            <li>
                <button mat-mini-fab color="warn">
                    <mat-icon>mail</mat-icon>
                </button>
            </li>
        </ul>
    </div>
    <mat-card-header>
        <div class="title">
            <mat-icon *ngIf="member.gender === 'male'" color="primary">boy</mat-icon>
            <mat-icon *ngIf="member.gender === 'female'" color="primary">girl</mat-icon>
            <mat-card-title>{{member.knownAs}}</mat-card-title>
        </div>
        <mat-card-subtitle>{{member.city}}</mat-card-subtitle>
    </mat-card-header>
</mat-card>