@if (memberIn) {
<mat-card class="card">
    <div class="card-img-wrapper">
        @if (memberIn.photos.length === 0) {
        <img ngSrc="/assets/images/defaults/user.png" width="128" height="128" priority alt="{{memberIn.knownAs}} photo"
            mat-card-image>
        }
        @else {
        @for (photo of memberIn.photos; track $index) {
        @if (photo.isMain) {
        <img ngSrc="{{photo.url_165}}" width="128" height="128" priority alt="{{memberIn.knownAs}}" mat-card-image>
        }
        }
        }

        <ul class="user-icons">
            <li>
                @if(!memberIn.following){
                <button (click)="addFollow()" mat-mini-fab>
                    <mat-icon color="primary">person_add</mat-icon>
                </button>
                }
                @else {
                <button (click)="removeFollow()" mat-mini-fab>
                    <mat-icon color="primary">person_remove</mat-icon>
                </button>
                }
            </li>
            <li>
                <button mat-mini-fab>
                    <mat-icon color="primary">mail</mat-icon>
                </button>
            </li>
        </ul>
    </div>
    <mat-card-header [routerLink]="['/member/' + memberIn.userName]">
        <div class="title">
            @switch (memberIn.gender) {
            @case ('male') {
            <mat-icon color="primary">boy</mat-icon>
            }
            @case ('female') {
            <mat-icon color="primary">girl</mat-icon>
            }
            @default {
            <mat-icon color="primary">group_add</mat-icon>
            }
            }
            <mat-card-title>{{memberIn.knownAs | shortenString:7 | titlecase}}, {{memberIn.age}}</mat-card-title>
        </div>
        <mat-card-subtitle>
            {{memberIn.city | titlecase}}
            <mat-icon class="more" color="primary" mat-min-fab>read_more</mat-icon>
        </mat-card-subtitle>
    </mat-card-header>
</mat-card>
}