$min_card_size: 9rem;

.card {
    img {
        width: $min_card_size;
        height: $min_card_size;
        transform: scale(1.0, 1.0);
        transition-duration: 500ms;
        transition-timing-function: ease-out;
    }

    &:hover {
        img {
            transform: scale(1.2, 1.2);
            transition-duration: 500ms;
            transition-timing-function: ease-out;
            opacity: 0.7;
        }

        .card-img-wrapper .user-icons {
            bottom: 0.5rem;
            opacity: 1;
        }
    }

    .card-img-wrapper {
        position: relative;
        overflow: hidden;
        display: flex;

        .user-icons {
            position: absolute;
            bottom: -30%;
            opacity: 0;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-evenly;
            gap: 2px;
            list-style-type: none;

            transition: all 0.3s ease-in-out;
            min-width: $min_card_size;

            li {
                transform: scale(1.0, 1.0);
                transition-duration: 200ms;
                transition-timing-function: ease-out;

                &:hover {
                    transform: scale(1.3, 1.3);
                    transition-duration: 200ms;
                    transition-timing-function: ease-out;
                }
            }
        }
    }

    mat-card-header {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 0.5rem 0;
    }

    .title {
        display: flex;
        align-items: center;
    }
}