Works

<!--<form (ngSubmit)="requestResetPassword()" [formGroup]="resetPasswordFg">-->
<!--<app-input-cva [error]="'Needs: 8 to 50 characters. An uppercase character(ABC). A number(123)'" [formControl]="PasswordCtrl" [hint]="'Needs: 8 to 50 characters. An uppercase character(ABC). A number(123)'"-->
<!--               [label]="'Password'"-->
<!--               [ngStyle]="{-->
<!--                    'margin-bottom': PasswordCtrl.invalid ? '1rem' : '0'-->
<!--                }"-->
<!--               [placeHolder]="'Enter a password'" [type]="'password'">-->
<!--</app-input-cva>-->
<!--<div>-->
<!--  <app-input-cva [formControl]=" ConfirmPasswordCtrl" [hint]="'Confirm above password'" [label]="'Confirm Password'"-->
<!--                 [placeHolder]="'Confirm your password'" [type]="'password'">-->
<!--  </app-input-cva>-->
<!--  @if (PasswordCtrl.valid && ConfirmPasswordCtrl.valid && registerFg.hasError('invalidPasswordsMatch')) {-->
<!--    <mat-error>Password entries don't match.</mat-error>-->
<!--  }-->
<!--</div>-->
<!--</form>-->
