<main>
    <h3>You are about to reset your password</h3>
    <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordFg">
        <div class="container">
            <div class="inputs">
                <app-input-cva [error]="'Needs: 8 to 50 characters. An uppercase character(ABC). A number(123)'"
                               [formControl]="PasswordCtrl"
                               [hint]="'Needs: 8 to 50 characters. An uppercase character(ABC). A number(123)'"
                               [label]="'New password'"
                               [ngStyle]="{
                    'margin-bottom': PasswordCtrl.invalid ? '1rem' : '0'
                }"
                               [placeHolder]="'Enter your new password'" [type]="'password'">
                </app-input-cva>
                <app-input-cva [formControl]=" ConfirmPasswordCtrl" [hint]="'Confirm above password'"
                               [label]="'Confirm new password'"
                               [placeHolder]="'Confirm your new password'" [type]="'password'">
                </app-input-cva>
                @if (PasswordCtrl.valid && ConfirmPasswordCtrl.valid && resetPasswordFg.hasError('invalidPasswordsMatch')) {
                    <mat-error>Password entries don't match.</mat-error>
                }
            </div>
            <div class="buttons">
                <button mat-icon-button routerLink="/" type="button">
                    <mat-icon>reply</mat-icon>
                </button>
                <button [disabled]="resetPasswordFg.invalid" mat-raised-button type="submit">Reset password</button>
            </div>
        </div>
    </form>
</main>
