@if(loggedInUser && memberIn) {
@if(isMobileSig()) {
<app-photo-editor-mobile [memberIn]="memberIn" />
}
@else {
<main>
    <section class="top">
        <div class="header">
            @if (memberIn.photos.length === 0 && !isUploading) {
            <mat-hint>Your album is empty. You may upload some photos.</mat-hint>
            }
            @if(isUploading) {
            <button (click)="uploader?.cancelAll()" mat-raised-button color="accent">Stop Uploading</button>
            }
        </div>
        <div class="gallery">
            @if(!isUploading) {
            <div class="upload-photo-area">
                <mat-card ng2FileDrop (fileOver)="fileOverBase($event)" (click)="fileInput.click()"
                    [uploader]="uploader" [ngClass]="{'nv-file-not-over': !hasBaseDropZoneOver,
                            'nv-file-over': hasBaseDropZoneOver}">
                    <mat-card-header>
                        <mat-card-title>Add Photos</mat-card-title>
                        <mat-card-subtitle>Click or Drop photos here</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-icon>cloud_upload</mat-icon>
                    </mat-card-content>
                    <mat-card-actions>
                        <button type="button" mat-raised-button>Choose Photos</button>
                        <input #fileInput ng2FileSelect [uploader]="uploader" multiple type="file" id="file">
                    </mat-card-actions>
                </mat-card>
            </div>
            }
            @for (photo of memberIn.photos; track $index) {
            <div class="photos">
                <img ngSrc="{{photo.url_165}}" width="165" height="165" priority alt="{{memberIn.knownAs}} photo">
                <div class="buttons">
                    <button (click)="setMainPhoto(photo.url_165)" mat-stroked-button color="primary"
                        [disabled]="photo.isMain">Set profile</button>
                    <button (click)="deletePhoto(photo.url_165, $index)" mat-mini-fab color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            }
        </div>
    </section>
    @if (uploader && uploader.queue && uploader.queue.length) {
    <section class="queue">
        <p class="queue-length">Uploading queue: {{ uploader.queue.length }}</p>

        <div class="photos-queue">
            <div>
                <strong>Name</strong>
                <strong>Size</strong>
            </div>
            @for (item of uploader.queue; track $index) {
            <div>
                <p>{{ item?.file?.name }}</p>
                @if (uploader.options.isHTML5) {
                <p nowrap> {{ item?.file?.size/1024/1024 | number:'.2' }} MB</p>
                }
            </div>
            }
        </div>

        <div class="process">
            <div class="queue">
                Queue progress:
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">
                </div>
                {{uploader.progress}}%
            </div>
            <!-- <div class="buttons">
                <button mat-raised-button color="primary" type="button" (click)="uploader.uploadAll()"
                    [disabled]="!uploader.getNotUploadedItems().length">
                    <mat-icon>upload</mat-icon> Upload all
                </button>
                <button mat-raised-button color="accent" type="button" (click)="uploader.cancelAll()"
                    [disabled]="!uploader.isUploading">
                    <mat-icon>cancel</mat-icon> Cancel all
                </button>
                <button mat-raised-button color="warn" type="button" (click)="uploader.clearQueue()"
                    [disabled]="!uploader.queue.length">
                    <mat-icon>delete</mat-icon> Remove all
                </button>
            </div> -->
        </div>
    </section>
    }
</main>
}
}