$buttonHoverColor: rgb(228, 227, 227);

mat-toolbar {
    display: flex;
    justify-content: space-between;

    .left {
        display: flex;
        gap: 2rem;

        a {
            color: white;
            text-decoration: none;
        }

        .brand {
            display: flex;
            align-items: center;
            // background: red;
            // padding: 0.5rem;
        }
    }

    .right {
        display: flex;
        gap: 1rem;

        button {
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            cursor: pointer;
            border: 5px solid rgba($color: purple, $alpha: 0.1);
            font-weight: bold;
        }
    }
}

// mat-menu style cannot be nested scss and is usign an Angular directive Input to apply class
::ng-deep .mat-menu {
    // padding: 0;

    .userInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 2rem;

        * {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        .profileImage {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 5rem;
            height: 5rem;
            background-color: rgb(172, 6, 172);
            color: white;
            font-size: 3rem;
            border-radius: 50%;
        }

        .email {
            color: gray;
        }
    }

    .logout {
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-items {
        display: flex;
        gap: 5px;
    }
}

@media only screen and (min-width: 40rem) {
    // mat-toolbar {
    //     background: green !important;
    // }
}