<mat-toolbar color="primary">
    <!--#region LEFT -->
    <section class="brand">
        <a [routerLink]="['/']">
            <mat-icon>eco</mat-icon>
        </a>
        <a [routerLink]="['/']" routerLinkActive="router-link-active">
            Banana
        </a>
    </section>
    <!-- #endregion -->

    <!--#region RIGHT -->
    <section class="menu">
        <!-- if logged-in: show appMeny
            else: show signup/login -->
        <button [mat-menu-trigger-for]="appMenu" *ngIf="user$ | async as user; else signupLogin" class="profileCard">
            <mat-card style="display: none;"></mat-card>
            <img mat-card-avatar src="{{user.profilePhotoUrl}}">
            <mat-icon>more_vert</mat-icon>
        </button>

        <!-- signup/login -->
        <ng-template #signupLogin>
            <button mat-button [routerLink]="[ '/register' ]">
                Sign Up
            </button>
            <button mat-button [routerLink]="['/login']" routerLinkActive="router-link-active">Login</button>
        </ng-template>

        <!-- menu if logged-in -->
        <mat-menu #appMenu>
            <div *ngIf="user$ | async as user" class="userInfo">
                <p style="font-size: larger;" fxFlex>{{user.name}}</p>
                <p fxFlex class="email">{{user.email}}</p>
                <mat-divider></mat-divider>
            </div>
            <div class="matList">
                <mat-list>
                    <mat-list-item fxFlex fxHide fxShow.lt-sm>
                        <mat-icon>shopping_basket</mat-icon>
                        Orders
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/manage-orders']" routerLinkActive="router-link-active">
                        <mat-icon>flaky</mat-icon>
                        Manage Orders
                    </mat-list-item>
                    <mat-list-item [routerLink]="['/admin/manage-products']" routerLinkActive="router-link-active">
                        <mat-icon>assignment_returned</mat-icon>
                        Manage Products
                    </mat-list-item>
                </mat-list>

                <div class="logout">
                    <mat-divider></mat-divider>
                    <button mat-raised-button (click)="logout()">Logout</button>
                </div>
            </div>
        </mat-menu>
    </section>
    <!-- #endregion -->
</mat-toolbar>