$buttonHoverColor: rgb(228, 227, 227);

.spacer{
    flex: 1;
}
.brand{
    a{
        color: white;
        text-decoration: none;
    }
}
#profileCard{
    cursor: pointer;
}

#matList{
    mat-list{
        padding: 0;
    }
    mat-list-item:hover{
        background-color: $buttonHoverColor;
        cursor: pointer;
    }
    mat-icon{
        margin-right: 5px;
    }
}

#logout{
    button:hover{
        background-color: $buttonHoverColor;
    }
}