<form [formGroup]="loginFg" (ngSubmit)="loginFg.value">
    <div class="container">
        <h2>Login</h2>
        <app-input-cva [formControl]="EmailCtrl" [label]="'Email'" [placeHolder]="'Email address'" [isFocused]="true"
            [hint]="'Your registered email'">
        </app-input-cva>
        <app-input-cva [formControl]="PasswordCtrl" [type]="'password'" [label]="'Password'" [placeHolder]="'Your password'"
            [hint]="'7 to 20 characters'">
        </app-input-cva>
        <button (click)="loginEmail()" class="submitBtn" mat-raised-button color="primary">Sign in</button>
    </div>
</form>